@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html {
    background-image: URL(/Exercise0.5-CSS2/exerciseQ1/Images/old-paper.png);
}

body {
    font-size: 50px;
    font-family: 'Rye', cursive;
    text-align: center;
}

.spacing {
    letter-spacing: 12px;
}